@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  width: 100%;
  height: 100%;
}

.custom-popup .leaflet-popup-content-wrapper {
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.custom-popup .leaflet-popup-content {
  margin: 0;
  width: auto !important;
}

.custom-popup .leaflet-popup-tip-container {
  margin-top: -1px;
}